<router-outlet></router-outlet>
<div class="row">
    <div class="col text-center">
        <div ngbDropdown class="d-inline-block">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>

                <!-- Get user profile picture in here somehow -->
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="35"
                    alt="" loading="lazy" />
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a routerLink="/viewProfile"><button ngbDropdownItem>View Profile</button></a> 
              <a routerLink="/updateProfile"><button ngbDropdownItem>Edit Profile</button></a>
                <button ngbDropdownItem>Logout</button>
            </div>
            
        </div>
        
    </div>


    <!-- Ridiculous stuff under here -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav"> -->
    <!-- Avatar -->
    <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              >
                                                                                                                    <img
                                                                                                                    src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
                                                                                                                    class="rounded-circle"
                                                                                                                    height="22"
                                                                                                                    alt=""
                                                                                                                    loading="lazy"
                                                                                                                    />
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">My profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav> -->