<router-outlet></router-outlet>
<div class="row">

    <div class="col text-center">

        <div ngbDropdown class="d-inline-block">
            <!--Search -->
    <button (click)="searchUser()" type="button" class="btn btn-success">Search User</button>

            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>
                <!-- Get user profile picture in here somehow -->
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="35"
                    alt="" loading="lazy" />
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <!-- <a routerLink="/viewProfile"><button ngbDropdownItem>View Profile</button></a> 
              <a routerLink="/updateProfile"><button ngbDropdownItem>Edit Profile</button></a>
              <a href=""><button ngbDropdownItem>Logout</button></a> -->
                <button *ngIf="isAdmin"  ngbDropdownItem>View Users</button>
                <button (click)="showProf()" ngbDropdownItem>View Profile</button>
                <button (click)="showUpd()" ngbDropdownItem>Edit Profile</button> 
                <a href=""><button ngbDropdownItem>Logout</button></a>
            </div>  
            <div class="container">
              <div class="jumbotron">
                <h1>GameList</h1>
                <p>Gamers are the future</p>
              </div>
          
            </div>    
        </div>
          <app-profile *ngIf="showProfile"></app-profile>
          <app-update *ngIf="showUpdate"></app-update>
        
    </div>
 

