<html>
<head>
<meta charset="ISO-8859-1">
<title>ERS LOGIN</title>
<!-- BOOTSTRAP -->
</head>
<body>

<!--LOGIN FORM-->
<div *ngIf="showLogin" class="container">
	<div>
		<!--DENIED-->
		<div *ngIf="showDenied" class="alert alert-danger">
			<strong>Denied!</strong> Invalid username or password, please try again.
		</div>
	</div>
 	<h2>Login</h2>
	<form action="" method="post">
	
	<div class="form-group">
	<label for="username">Username:</label>
	<input [(ngModel)]="userNAME" type="text" class="form-control"  placeholder="Enter Username" name="username">
	</div>

	<div class="from-group">
	<label for="pwd">Password:</label>
	<input [(ngModel)]="userPASS" type="password" class="form-control"  placeholder="Enter Password" name="password">
	</div>
	
	<div class="checkbox">
		
	</div>
	<button (click)="loginUser()" type="button" class="btn btn-info btn-lg">Login</button>
</form>
</div>
<app-navbar *ngIf="showNavbar"></app-navbar>

</body>
</html>