<html lang="en">
<head>
  <title>Update</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<br>
<div class="container">
    <hr>
    <div class="row">
    </div>
  <h2>Update Profile</h2>
  <form action="/">
 
    <div class="form-group">
        <label>Nickname:</label>
        <input [(ngModel)]="userNICKNAME"  type="text" class="form-control" placeholder="{{NICKNAME}}">
      </div>
    <div class="form-group">
      <label>Username:</label>
      <input [(ngModel)]="userNAME" type="text" class="form-control" placeholder="{{USERNAME}}">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input [(ngModel)]="userPASS" type="text" class="form-control" placeholder="{{PASSWORD}}">
      </div>
    <div class="form-group">
      <label>Email:</label>
      <input [(ngModel)]="userEMAIL" type="email" class="form-control" placeholder="{{EMAIL}}">
    </div>
    <button (click)="updateUser()" type="button"  class="btn btn-default">Submit</button>
  </form>
</div>

</body>